.countries {
  /* margin-bottom: 8rem; */
  display: flex;

  font-size: 2rem;
  transition: opacity 1s;
}
.country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 400px;
  border-radius: 0.7rem;
  margin: 0 3rem;
  /* overflow: hidden; */
}
.country__img {
  width: 400px;
  height: 150px;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}
.country__data {
}
.country__name {
  font-size: 20px;
  margin-bottom: 0.7rem;
}
.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #888;
}
